.container {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.container div {
    border: 2px solid;
    margin: 1rem;
    padding: .4rem;
}

.container p {
    color: green;
    margin: .4rem 0;
}